#### Collage Devolopement committee

consituted in accodance wih'Maharashtra public university Act 2016'

**Attachment:**
[college Devolopment committee](https://webserv.fragnel.ac.in/attachments/article/155/CDC%202023.pdf)