Examination cell I/C
**DR. DEEPAK V.BHOIR**
Office Superintendent
**Robert Dias**
Head Clerk
**Yvonne Fernandis**
clark
**john Dias**
clark
**JAYASHREE LATKAR**
Department Assistant
**RADHUNATH KAMBLE**
