####CONTACT INFO

**Fr. Conceicao Rodrigues College of Engineering** Fr. Agnel Ashram, Bandstand, Bandra (W), Mumbai 400050. MH, IN

+91 22 67114000
+91 22 67114100
crce@frcrce.ac.in

[facebook](https://www.facebook.com/people/Crce-Comp/100084420133268/)
[instagram](https://www.instagram.com/frcrce_official/)
[LinkedIn](https://www.linkedin.com/in/crce-comp-dept-155177248/)