#### About Exam Department

Examination cell is an important section of any institute as it has to handle university examinations and unit tests in a free and fair atmosphere. Added to this, responsibilities include timely announcement of results as students are heavily dependent on the results. Examination staff has to take care of all these things in addition to routine work.